							<li class="%%GLOBAL_AlternateClass%%">

  <table width="100%" border="0" cellspacing="0" cellpadding="0">

    <tr>

      <td height="147"><div class="ProductImage">

	  %%GLOBAL_ProductThumb%%<br />

      <span class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" %%GLOBAL_ProductRatingImageDimensions%% style="%%GLOBAL_HideProductRating%%" /></span>

	</div></td>

    </tr>

    <tr>

      <td height="44"><div class="ProductDetails">

									<strong><a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a></strong>

								</div>

								<div class="ProductPriceRating">

									<em>%%GLOBAL_ProductPrice%%</em>

									

	  </div></td>

    </tr>

    <tr>

      <td height="57"><!--inicio-->


                                <div style="display:%%GLOBAL_HideActionAdd%%;">%%GLOBAL_FreteDestaques%%<br>

                                %%GLOBAL_ProDestaques%%</div>

      <!--fim--></td>

    </tr>

    <tr>

      <td><div class="ProductActionAdd" style="display:%%GLOBAL_HideActionAdd%%;">

									<a href="%%GLOBAL_ProductURL%%"><img src="%%GLOBAL_TPL_PATH%%/img/comprar.gif" /></a>

	  </div></td>

    </tr>

  </table>



								

							</li>