/* fix Angular material mess  */
md-sidenav, md-backdrop {
  position: fixed;
}
/* end fix */

button .material-icons {
	margin-top: 10px;
}

.material-icons {
	width: auto;
}

.md-toolbar-tools {
	background: teal;
}

