							<li class="%%GLOBAL_AlternateClass%%  ItenBusca" style="width:100%; text-align:left">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
								  <tr>
								    <td width="16%"><div class="ProductImage">
	  %%GLOBAL_ProductThumb%%
  </div></td>
								    <td width="65%" style="padding:20px" >
                                    <h1><a href="%%GLOBAL_ProductLink%%" class="TrackLink">%%GLOBAL_ProductName%%</a></h1>
                                        <div class="ProductDescription">%%GLOBAL_ProductDescription%%</div>
                                        
										<span class="ProductPrice">%%GLOBAL_ProductPrice%%</span>
										
									</span>
									
									<div class="Rating Rating%%GLOBAL_ProductRating%%"><img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" style="%%GLOBAL_HideProductRating%%" />
                                    
                                    </td>
								    <td width="19%" style="padding:20px" ><a href="%%GLOBAL_ProductURL%%"><img src="%%GLOBAL_TPL_PATH%%/img/comprar.gif" /></a>&nbsp;</td>
							      </tr>
  </table>

								

							</li>