<style type="text/css">
<!--
.Estilo10 {font-size: 12px; font-family: arial; font-weight: normal; color: #ffffff;}
.Estilo9 {font-size: 12px; font-family: arial; font-weight: bold; color: #ffffff;  }
.rodape_centro {align:center; vertical-align:middle;}
-->
</style>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td background="%%GLOBAL_ShopPath%%/templates/preto/imagens/rodape-esq.png">&nbsp;</td>
    <td width="1023" height="190" background="%%GLOBAL_ShopPath%%/templates/preto/imagens/rodape-centro.png"><table width="1023" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="40" align="center" background="%%GLOBAL_ShopPath%%/templates/preto/imagens/menu_inferior.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr valign="bottom">
            <td width="200" height="30">&nbsp;</td>
            <td>%%Panel.PagesMenu%%</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="150"><table width="1023" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="90" height="150" rowspan="2">&nbsp;</td>
            <td width="290" rowspan="2" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="40">&nbsp;</td>
              </tr>
              <tr>
                <td class="Estilo9">Lojas WebShop</td>
              </tr>
              <tr>
                <td class="Estilo10">End da loja</td>
              </tr>
              <tr>
                <td class="Estilo10">(00)8888-8888</td>
              </tr>
			  <tr>
                <td class="Estilo10">Seu E-mail</td>
              </tr>
              <tr>
                <td class="Estilo10">Novo template 9.0 by CliqueMania</td>
              </tr>
            </table></td>
            <td width="370" height="60" valign="bottom">&nbsp;</td>
            <td rowspan="2" align="left"><table width="150" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="100" class="rodape_centro"><div align="center"><img src="%%GLOBAL_ShopPath%%/templates/preto/imagens/100seg.png" width="111" height="68"></div></td>
              </tr>
              <tr>
                <td height="50" class="rodape_centro"><div align="center">
					<a style="color: #FFFFFF" target="_blank" href="https://www.cliquemania.com">
					Powered by Cliquemania</a></div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td valign="bottom"><img src="%%GLOBAL_ShopPath%%/templates/preto/imagens/formasdepag.png" width="325" height="90"></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td background="%%GLOBAL_ShopPath%%/templates/preto/imagens/rodape-dir.png">&nbsp;</td>
  </tr>
</table>
