<div class="HeaderLogin">

      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td rowspan="2" class="Logo" style=" padding:10px; vertical-align:middle"><div class="">%%GLOBAL_HeaderLogo%%</div></td>
          <td><div class="Save">Voc&ecirc; est&aacute; em um ambiente seguro</div></td>
        </tr>
        <tr>
          <td valign="baseline">
    	<div class="ProcessoCompra" style="display:%%GLOBAL_Processo%%">
  
        		<div class="ProcessIcon1%%GLOBAL_Icone1%% Iten">Carrinho de Compras</div>
                <div class="ProcessIcon2%%GLOBAL_Icone2%% Iten">Entrega e Pagamento</div>
                <div class="ProcessIcon3%%GLOBAL_Icone3%% Iten">Finaliza&ccedil;&atilde;o</div>
        </div>
        
        <div class="ProcessoCompra" style="display:%%GLOBAL_User%%">
  
        		<div class="ProcessIconUser Iten">Identifica&ccedil;&atilde;o</div>
                
        </div>
        
        </td>
        </tr>
      </table>

    	
    	
</div>
    
	<div class="Clear"></div>
	