
<style type="text/css">
<!--
.Estilo10 {font-size: 12px; font-family: arial; font-weight: normal; color: #ffffff;}
.Estilo9 {font-size: 12px; font-family: arial; font-weight: bold; color: #ffffff;  }
.rodape_centro {align:center; vertical-align:middle;}
-->
</style>
<br>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td background="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/rodape-centro-esq.png">&nbsp;</td>
    <td width="1020" height="188" background="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/rodape-centro.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="180" height="70" align="center" valign="top">&nbsp;</td>
        <td width="839" class="centro_menu"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>%%Panel.PagesMenu%%</td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td height="118" colspan="2"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="30">&nbsp;</td>
            <td width="300" height="118">
			<table width="100%"  border="0" cellspacing="0" cellpadding="0" height="99">
              <tr>
                <td height="20">&nbsp;</td>
              </tr>
              <tr>
                <td class="Estilo9">Novo template 9.0 By Cliquemania</td>
              </tr>
              <tr>
                <td class="Estilo10">seu e-mail</td>
              </tr>
              <tr>
                <td class="Estilo10"><font color="#000000">
				<a style="color: #FFFFFF" target="_self" href="%%GLOBAL_ShopPath%%/sitemap/">
				Mapa do Site</a></font></td>
              </tr>
			  <tr>
                <td class="Estilo10"><font color="#000000">
				<a style="color: #FFFFFF" target="_self" href="%%GLOBAL_ShopPath%%/Fale-conosco.html">
				Fale - Conosco</a></font></td>
              </tr>
              <tr>
                <td class="Estilo10" height="33"><div class="addthis_toolbox addthis_25x25_style addthis_default_style">
    <img src="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/block.jpg"><br>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_orkut"></a>
    <a class="addthis_button_google_plusone"></a>
</div>
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=YOUR-PROFILE-ID"></script></td>
              </tr>
            </table></td>
            <td width="480" class="rodape_centro"><img src="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/imag-formas-de-pagamento.png" width="406" height="86"></td>
            <td align="center" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
				<a target="_blank" href="https://www.cliquemania.com"><img src="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/imag-segura.png" width="122" height="86"></a></td>
              </tr>
              <tr>
                <td height="31" align="center"><font color="#FFFFFF"></a>Powered By Cliquemania</font></td>
              </tr>
            </table>              </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td background="%%GLOBAL_ShopPath%%/templates/vermelha/imagens/rodape-centro-dir.png">&nbsp;</td>
  </tr>
</table>