<dl style='margin-left:0; margin-bottom:5px;'>
<dt>%%LNG_TestPageUrl%%</dt>
<dd style='margin-left:130px;'><input class='Field300' onclick='this.select();' readonly value='%%GLOBAL_TestPageUrl%%' /></dd>

<dt style='%%GLOBAL_HideVariationPageUrl%%'>%%LNG_VariationPageUrl%%</dt>
<dd style='margin-left:130px; %%GLOBAL_HideVariationPageUrl%%'><input class='Field300' onclick='this.select();' readonly value='%%GLOBAL_VariationPageUrl%%' /></dd>

<dt>%%LNG_ConversionPageUrl%%</dt>
<dd style='margin-left:130px;'><input class='Field300' onclick='this.select();' readonly value='%%GLOBAL_ConversionPageUrl%%' /></dd>
</dl>