<tr class="GridRow" style="height:30px;">
<td>%%GLOBAL_ModuleName%%</td>
<td>
	<div class="ConfiguredIcon_%%GLOBAL_ModuleId%%">
		<img border="0" src="images/%%GLOBAL_ConfiguredIcon%%.gif"/>
	</div>
</td>
<td><span  id="ConfigDate_%%GLOBAL_ModuleId%%">%%GLOBAL_ConfiguredDate%%</span></td>
<td>
	<a id="OptimizerConfig_%%GLOBAL_ModuleId%%" onclick="Optimizer.LoadConfigForm('%%GLOBAL_ModuleId%%'); return false" href = "#">%%LNG_Configure%%</a>

	<a id="OptimizerReset_%%GLOBAL_ModuleId%%" class="%%GLOBAL_ActiveReset%%" onclick="Optimizer.ResetModule('%%GLOBAL_ModuleId%%');">%%LNG_Reset%%</a>

</td>
</tr>