<li class="unselectedVideo videoRow">
	<a href="#" class="viewYouTubeVideo"><img src='%%GLOBAL_videoImage%%' class="ytVideoImage" id="%%GLOBAL_videoId%%" title="%%GLOBAL_videoTitleFull%%" /></a>
	<div class="ytVideoTitle"><span class="videoTitleText" title="%%GLOBAL_videoTitleFull%%">%%GLOBAL_videoTitle%%</span> (<span class="ytVideoLength">%%GLOBAL_videoLength%%</span>)</div>
	<div class="ytVideoDetails">%%GLOBAL_videoViews%% %%LNG_VideoViews%% %%GLOBAL_videoRating%%<br /><span title="%%GLOBAL_videoSummaryFull%%">%%GLOBAL_videoSummary%%</span></div>
</li>