							<li class="%%GLOBAL_AlternateClass%%">
								  <table width="100%" border="0" cellspacing="0" cellpadding="0">
								    <tr>
								      <td height="150" style="vertical-align:middle">%%GLOBAL_ProductThumb%%</td>
							        </tr>
								    <tr>
								      <td height="150">
                                      	<div class="Titulo">
                                            <strong><a href="%%GLOBAL_ProductLink%%">%%GLOBAL_ProductName%%</a></strong>
                                        </div>
                                        <div class="ProductPriceRating">
                                            <em><b>%%GLOBAL_ProductPrice%%</b></em>
                                            
                                            <div class="Rating Rating%%GLOBAL_ProductRating%%">
                                            <em>%%GLOBAL_DescParcelas%%</em>
                                            	
                                            </div>
                                            <br />
                                           			Avalia&ccedil;&atilde;o dos clientes: <br />
                                                    <img src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_ProductRating%%.gif" alt="" %%GLOBAL_ProductRatingImageDimensions%% style="%%GLOBAL_HideProductRating%%" /><div class="ProductCompareButton" style="display:%%GLOBAL_HideCompareItems%%">
									<input type="checkbox" class="CheckBox" name="compare_product_ids" id="compare_%%GLOBAL_ProductId%%" value="%%GLOBAL_ProductId%%" onclick="product_comparison_box_changed(this.checked)" /> %%LNG_Compare%% <br />
								</div>
                                    <a class="MaisInfo" href="%%GLOBAL_ProductLink%%">[ + ] Mais informações</a>
                                    </div>
                                      </td>
							        </tr>
								    </table>
</li>