<style type="text/css">

<!--


.Estilo10 {font-size: 12px; font-family: arial; font-weight: normal; color: #ffffff;}
.Estilo9 {font-size: 12px; font-family: arial; font-weight: bold; color: #ffffff; align:left; }

-->

</style>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th height="169" valign="bottom" background="%%GLOBAL_ShopPath%%/templates/azul/imagens/fundo_inf_dir.png" scope="col">&nbsp;</th>
    <th width="994" height="169" align="center" background="%%GLOBAL_ShopPath%%/templates/azul/imagens/fundo_centro_inf.png" scope="col"><table width="994"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="30" align="center"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="100" height="30">&nbsp;</td>
            <td valign="top">%%Panel.PagesMenu%%</td>
            <td width="100">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="134" valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="40">&nbsp;</td>
            <td width="780" height="120"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="30">&nbsp;</td>
              </tr>
              <tr>
                <td class="Estilo9"><div align="left">Lojas WebShop</div></td>
              </tr>
              <tr>
                <td class="Estilo10"><div align="left">Seu Endereço</div></td>
              </tr>
              <tr>
                <td class="Estilo10"><div align="left">(00)0000-0000</div></td>
              </tr>
			  <tr>
                <td class="Estilo10"><div align="left">Seu E-mail</div></td>
              </tr>
              <tr>
                <td class="Estilo10"><div align="left">Novo Template 9.0 by CliqueMania</div></td>
              </tr>
            </table></td>
            <td align="center" valign="bottom"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="95">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">
				<a style="color: #FFFFFF" target="_blank" href="https://www.cliquemania.com">
				Powered by CliqueMania</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
    </table></th>
    <th valign="bottom" background="%%GLOBAL_ShopPath%%/templates/azul/imagens/fundo_inf_dir.png" scope="col">&nbsp;</th>
  </tr>
</table>