			<div id="SearchForm">
				<form action="%%GLOBAL_ShopPathNormal%%/buscas.php" method="get" onsubmit="return check_small_search_form()">
					<label for="search_query"></label>
					<input type="text" onfocus="$(this).addClass('QuickSearchFocused'); if(!$(this).data('custom')) { $(this).val(''); }" onblur="if($(this).val()) { $(this).data('custom', 1); return; } $(this).removeClass('QuickSearchFocused'); if(!$(this).val()) { $(this).val('Encontre o produto desejado...'); $(this).data('custom', 0); }"name="search_query" id="search_query" class="Textbox" value="Encontre o produto desejado..." />
					<input type="image" src="%%GLOBAL_ShopPath%%/templates/azul/imagens/Search.png" class="Button" />
				</form>
			</div>

			<script type="text/javascript">
				var QuickSearchAlignment = 'left';
				var QuickSearchWidth = '150px';
				lang.EmptySmallSearch = "%%LNG_EmptySmallSearch%%";
			</script>