
<style type="text/css">
<!--
.Estilo1 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #ffffff; align:left; }
.Estilo2 {font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #ebef20; background-repeat: no-repeat;}
.Estilo3 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #224993; }
.input-busca {	width:250px; height:25px; padding:8px;color:#333333;font:Tahoma 14px bold; border:0px;}
.Estilo79 {font-size: 14px; color: #000000; }
.centro_menu2 {align:left; vertical-align:middle; }
.centro_menu {align:center; vertical-align:top; margin-left: 10px; }
.style2 {color: #CC0000; font-weight: bold; }
-->
</style>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th height="189" background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/fundo_topo.png" scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/topo_esq.png">&nbsp;</td>
        <td width="1040" height="189" background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/topo.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="290" rowspan="3" class="centro_menu2">%%GLOBAL_HeaderLogo%%</td>
            <td width="750" height="50"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="45">&nbsp;</td>
                <td width="210" height="30">&nbsp;</td>
                <td rowspan="2" align="left" class="centro_menu2"><img src="%%GLOBAL_ShopPath%%/templates/rosa/imagens/menu_topo.png" width="404" height="13" border="0" usemap="#Map"></td>
              </tr>
              <tr>
                <td height="20">&nbsp;</td>
                <td class="Estilo1"><div align="left">(00)8888-8888</div></td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td width="750" height="69" class="Clear" >%%Panel.HeaderSearch%%</td>
          </tr>
          <tr>
            <td width="750" height="30" align="left">%%Panel.TopMenu%%</td>
          </tr>
          <tr>
            <td height="40" colspan="2"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="50" height="40">&nbsp;</td>
                <td width="800" class="centro_menu">%%Panel.PagesMenu%%</td>
                <td align="left"><a href="%%GLOBAL_ShopPath%%/cart.php"><img src="%%GLOBAL_ShopPath%%/templates/rosa/imagens/carrinho.png" width="154" height="33" border="0"></a></td>
              </tr>
            </table></td>
            </tr>
        </table></td>
        <td background="%%GLOBAL_ShopPath%%/templates/rosa/imagens/topo_dir.png">&nbsp;</td>
      </tr>
    </table></th>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="18,2,83,11" href="%%GLOBAL_ShopPath%%/areadoclientewebshop.php?action=">
  <area shape="rect" coords="103,-1,176,14" href="%%GLOBAL_ShopPath%%/areadoclientewebshop.php?action=account_details">
  <area shape="rect" coords="194,0,241,12" href="%%GLOBAL_ShopPath%%/areadoclientewebshop.php?action=order_status">
  <area shape="rect" coords="267,0,339,14" href="%%GLOBAL_ShopPath%%/giftcertificates..php">
  <area shape="rect" coords="359,-4,407,14" href="%%GLOBAL_ShopPath%%/conteudo/Contato.html">
</map>
