
/*  Style CSS
   ---------------------------
   
   Style name:  Moroccan
   Created by: Tom Beddard
   Date: 11 Dec 2004
   
---------------------------------- */


/* Standard tags
---------------------------------- */
* { margin: 0; padding: 0; }
* {	/* IE only scrollbar colouring */
	scrollbar-face-color: #DCDCDC;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-arrow-color: #8A362D;
	scrollbar-highlight-color: #DCDCDC;
	scrollbar-shadow-color: #DCDCDC;
	scrollbar-track-color: #CDCDCD;
	}
body {
	background: #AD463B;
	color: #EEEEEE;
	}
body.chatbody {
	background-color: #E3E3E3;
	color: #00478C;
	}
body.monitorbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 5px;
	}
body.faqbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #AD463B;
	margin: 5px 0 5px 5px;
	width: 92%;
	}
	
h1 {
	font-size: 16px;
	color: #FFBC8E;
	}
h2 {
	font-size: 14px;
	margin: 0.3em 0;
	}
h3 {
	font-size: 11px;
	margin: 0.3em 0;
	border-bottom: 1px solid #CCCCCC;
	text-transform: uppercase;
	}

select { font-size: 10px; width: 100px; }
p { font-size: 12px; margin-bottom: 0.5em; }

hr {
	border: 0px none transparent;
	border-top: 1px dashed #600000;
	margin-bottom: 5px;
	padding-bottom: 5px;
	height: 1px;
	}



/* Input fields */
input, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	}
input, textarea, #chat {
	background-color: #E3E3E3;
	border: 1px solid #FFFFFF;
	}
.radio {
	border: none;
	background: none;
	}
#send {
	width: 55px;
	height: 42px;
	cursor: pointer;
	font-weight: bold;
	color: #8A362D;
	background: #FCFCFC url(images/button.gif) top left no-repeat;
	border: none !important;
	}
#send:hover {
	color: #EE003C;
	background-position: 0 -43px;
	}
.go, .button {
	background-image: none;
	background-color: #E3E3E3;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	}

/* Links */
a:link, a:visited { color: #E4C9A3; text-decoration: none; }
a:hover { text-decoration: underline; color: #FFFFFF; }
a:active { text-decoration: none; color: #E4C9A3; }
a:hover img { text-decoration: none; }



/* Copyright link */
#copyright a:link, #copyright a:visited, #copyright a:active {
	text-decoration: none;	color: #AAAAAA;
	}
#copyright a:hover { text-decoration: none; color: #EEEEEE;  }


/* Online/offline */
td.online {
	background-color: #FFCC99 !important;
	font-weight: bold;
	}
td.offline {
	background-color: #D0E4F6 !important;
	}
div.online label, div.offline label {
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	}
.online {
	color: #FFB84D;
	}
.offline {
	color: #600000;
	}


/* Conversation window attributes */
#conversation p {
	font-size: 90% !important;
	margin-bottom: 0.7em;
	line-height: 135%;
	}
#conversation img {
	border: none;
	display: block;
	clear: both;
	margin: 5px 0;
	}
p.notice {
	border-top: 1px dashed #666666;
	border-bottom: 1px dashed #666666;
	color: #666666;
	padding: 8px 0;
	margin: 0.5em 0;
	font-style: italic;
	}
p.client {
	font-weight: normal;
	color: #441C15;
	}
p.client span {
	font-weight: bold;
	}
p.operator {
	font-weight: normal;
	color: #AD463B;
	}
p.operator span {
	font-weight: bold;
	}
p.alert {
	font-weight: bold;
	color: #EE003C;
	border-top: 1px dashed #EE003C;
	border-bottom: 1px dashed #EE003C;
	padding: 8px 0;
	margin: 0.5em 0;
	}


/* Conversation links */
#conversation a:link, #conversation a:visited, #conversation a:active {
	text-decoration: none;
	color: #EE003C;
	border-bottom: 1px solid #EE003C;
	}
#conversation a:visited { color: #8A362D; border-bottom-style: dotted; border-bottom-color: #8A362D; }
#conversation a:active  { color: #8A362D; }
#conversation a:hover   { background-color: #E5B5B1; text-decoration: none; color: #8A362D; }



/* Buttons
---------------------------------- */
#options {
	background-color: #8A362D;
	border-top: 1px solid #E4C9A3;
	}
#sound_print {
	background-color: #8A362D;
	border-top: 1px solid #E4C9A3;
	}
a.print, a.font, a.soundOn, a.soundOff {
	padding: 1px 0 1px 20px;
	line-height: 15px;
	background-repeat: no-repeat;
	background-position: 0 0;
	}
a.soundOff { background-position: 0 -16px; }
a.print { background-image: url("images/icon_print.gif"); }
a.font  { background-image: url("images/icon_font.gif"); }
a.soundOn, a.soundOff { background-image: url("images/icon_sound.gif"); }




/* FAQ Styles
---------------------------------- */
p.question {
	font-weight: bold;
	font-size: 13px;
	}
p.answer { 
	font-style: italic;
	margin: 0;
	}
p.rate {
	font-size: 11px;
	margin-top: 10px;
	}
p.rate label {
	padding: 0 10px;
	vertical-align: middle;
	}
div.cookie {
	padding: 5px 3px;
	margin-top: 10px;
	margin-bottom: 4px;
	background-color: #8A362D;
	border-bottom: 1px dashed #999999;
	}
div.faq ul {
	margin-left: 15px;
	}
div.faq li {
	list-style-type: none;
	}
div.faq li.headcat {
	list-style-type: square;
	font-weight: bold;
	color: #FFFFFF;
	}



/* Tabs
---------------------------------- */
#tabs a { background:url("images/tabs_left.gif") no-repeat 0% 0px; }
#tabs a span { 
	background: url("images/tabs_right.gif") no-repeat 100% 0px;
	color: #AD463B;
	}
#tabs a:hover span { color: #EE003C; }
#tabs li.activetab a { border-bottom: 1px solid #DADADA; }
#tabs li.activetab a span {	color: #8A362D; }
#tabs ii.activetab a:hover span { color: #8A362D;}



/* Operator styles
---------------------------------- */
body.operatorbody {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #DADADA;
	color: #333333;
	background-image: none;
	margin: 5px;
	}
* html body.operatorbody { width: 92%; } /* IE tweak */
#operator {
	background-color: #8A362D;
	}
#operatorpanel {
	background-color: #DADADA;
	border: 1px solid #FFFFFF;
	}
div.logo {
	border-bottom: 2px solid #FFFFFF;
	margin-bottom: 4px;
	}




/* Tables
---------------------------------- */
table {
	width: 100%;
	margin-bottom: 10px;
	}
table thead th {
	text-align: left;
	padding-bottom: 3px;
	border-bottom: 1px solid #FFFFFF;
	font-size: 11px;
	}
table tbody th {
	text-align: right;
	padding: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	background-color: #FFFFFF;
	color: #333333;
	}
table tbody.subhead th {
	text-align: left;
	background-color: #FFFFFF;
	color: #333333;
	}
table tbody td {
	padding: 3px;
	font-size: 11px;
	background-color: #EDEDED;
	color: #666666;
	}
tr.row1 td { background-color: #EAEDF0; }
tr.row2 td { background-color: #F9FBFB; }

td a:link, td a:visited, td a:active {
	color: #8A362D;
}

td a:hover {
	color: #660000;
}