		<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>

		<div class="HeaderLoja">
		  <div class="HeaderContent">

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td class="Logo">%%GLOBAL_HeaderLogo%%</td>
              <td  class="RightContent">
              
                    <div class="MenudoTopo">
                    %%Panel.TopMenu%%
                    </div>
                    <div class="Clear"></div>
                    
                    <!-- Opcoes Header -->
                    <div style="padding:0 0 0 20px">
                        <div class="OptionsHeader">
                            <div class="MiniIcoEstrela" style="width:55%">%%GLOBAL_LoginOrLogoutText%%</div>
                            <div class="MiniIcoPacote" style="width:14%"><b><a href="areadoclientewebshop.php?action=order_status">Rastrear</a></b></div>
                            <div class="MiniIcoCarrinho"  style="width:20%"><b><a href="cart.php">Meu Carrinho</a></b></div>
                        </div> 
                    </div>
                    <div class="Clear"></div>
                    <!-- End Opcoes Header -->
                  	
                    <div class="BuscaHeader"> 
                    %%Panel.HeaderSearch%%
                    </div>
                   
              </td>
            </tr>
          </table>
        
        
        
        
        </div></div>
        
        
        <div class="Departamentos">
		%%Panel.MenuHeaderDepartamentos%%
		</div>
        
        <div class="Clear"></div>
        <div class="ChamadaTopo"><img src="%%GLOBAL_TPL_PATH%%/img/HeaderChamada.gif" /></div>
        