

<style type="text/css">
<!--
.Estilo1 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; align:left; }
.Estilo2 {font-family:Arial, Helvetica, sans-serif; font-size: 11px; color: #ebef20; background-repeat: no-repeat;}
.Estilo3 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #224993; }
.input-busca {	width:200px; height:20px; padding:8px;color:#333333;font:Tahoma 14px bold; border:0px;}
.Estilo79 {font-size: 14px; color: #000000; }
.centro_menu2 {align:left; vertical-align:middle; }
.centro_menu {align:center; vertical-align:top; margin-left: 10px; }
.centro_carrinho {align:center; vertical-align:bottom;}
.style2 {color: #CC0000; font-weight: bold; }
-->
</style>

<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th height="206" background="%%GLOBAL_ShopPath%%/templates/laranja/imagens/topo-centro-esq.png" scope="col">&nbsp;</th>
    <th width="1019" valign="bottom" background="%%GLOBAL_ShopPath%%/templates/laranja/imagens/topo-centro.png" scope="col"><table width="1019"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300" height="206"><table width="300" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="152" class="centro_menu2">%%GLOBAL_HeaderLogo%%</td>
          </tr>
          <tr>
            <td height="54">%%Panel.HeaderSearch%%</td>
          </tr>
        </table></td>
        <td><table width="719" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="35" colspan="2"><table width="719" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="30" height="30">&nbsp;</td>
                <td width="425"><img src="%%GLOBAL_ShopPath%%/templates/laranja/imagens/menu_topo.png" width="408" height="35" border="0" usemap="#Map"></td>
                <td height="35" class="centro_carrinho"><a href="%%GLOBAL_ShopPath%%/cart.php"><img src="%%GLOBAL_ShopPath%%/templates/laranja/imagens/carrinhocompra.png" width="150" height="22" hspace="42" border="0"></a></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td height="116" colspan="2" valign="top"><table width="719" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="50" align="center">&nbsp;</td>
                <td width="212" class="Estilo1">&nbsp;</td>
              </tr>
              <tr>
                <td width="507">%%Panel.TopMenu%%</td>
                <td width="212" class="Estilo1"><div align="left">(00)8888-8888</div></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td width="60" height="55"></td>
            <td width="589"><div align="center">%%Panel.PagesMenu%%</div></td>
          </tr>
        </table></td>
        </tr>
    </table></th>
    <th background="%%GLOBAL_ShopPath%%/templates/laranja/imagens/topo-centro-dir.png" scope="col">&nbsp;</th>
  </tr>
</table>
<map name="Map">
  <area shape="rect" coords="0,5,77,26" href="%%GLOBAL_ShopPath%%/account.php?action=">
  <area shape="rect" coords="91,7,178,26" href="%%GLOBAL_ShopPath%%/account.php?action=account_details">
  <area shape="rect" coords="191,8,243,26" href="%%GLOBAL_ShopPath%%/account.php?action=order_status">
  <area shape="rect" coords="261,5,342,26" href="%%GLOBAL_ShopPath%%/giftcertificates.php">
  <area shape="rect" coords="359,8,418,29" href="%%GLOBAL_ShopPath%%/pages/Contato.html">
</map>
