				<div class="Block CategoryList Moveable Panel" id="SideCategoryList">
					<h2>%%LNG_BrandsTagCloud%%</h2>
					<div class="BlockContent" ><div style="padding:10px;">
						<div id="brand_tagcloud_help" style="display:none">
                            %%LNG_BrandTagCloudHelp%%
                        </div>
                
                        <div class="BrandCloud">
                            %%SNIPPET_SideBrandTagCloud%%
                        </div><div class="Clear"></div></div>
					</div>
				</div>
                
                
                
  